.row
  .col-md-12.text-center
    %h1{style: 'margin-top: 150px; margin-bottom: 30px'}
      Please sign in
    %a.btn.btn-social.btn-lg.btn-google-plus{href: "#{user_omniauth_authorize_path(:google_oauth2)}"}
      = fa_icon 'google-plus'
      Sign in with Google
