.row
  .col-md-12
    .stuff

:javascript
  $(function() {
    stats = new Fantassist2.Collections.Stats(#{@stats.to_json});
    statsView = new Fantassist2.Views.StatsView({collection: stats});
    $('.stuff').html(statsView.render().el);
  });

