.row
  #stats.col-md-8
  #drafted.col-md-3.col-md-offset-1

:javascript
  $(function() {
    Fantassist.current_drafter = #{@current_drafter.to_json};

    stats = new Fantassist.Collections.Stats(#{@stats.to_json});
    statsView = new Fantassist.Views.StatsView({collection: stats});

    draftPicks = new Fantassist.Collections.DraftPicks(#{@draft_picks.to_json});
    draftPicksView = new Fantassist.Views.DraftPicksView({collection: draftPicks});


    $('#stats').html(statsView.render().el);
    $('#drafted').html(draftPicksView.render().el);
  });
